<beans xmlns="http://www.springframework.org/schema/beans"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="userConfigBean" class="org.example.bean.UserConfig">
        <property name="name" value="zhangsan"/>
        <property name="age" value="20"/>
        <property name="address" value="beijing"/>
        <property name="phone" value="123456789"/>
    </bean>

    <bean id="userService" class="org.example.service.UserService">
        <constructor-arg ref="userConfigBean"/>
    </bean>

    <bean id="orderService" class="org.example.service.OrderService" factory-method="createInstance">
        <constructor-arg ref="userService"/>
        <constructor-arg ref="userConfigBean"/>
    </bean>
</beans>